.v-data-table {
  margin-top: 60px;
  margin-bottom: 80px;
  height: calc(100vh - 140px);
  overflow: auto;

  @media screen and (max-width: 600px) {
    thead {
      display: none;
    }

    .v-data-table__mobile-row__cell {
      word-break: break-all;
      max-width: 200px;
      max-height: 150px;
    }
  }

  .table-header {
    display: flex;
    width: 100%;
    position: fixed;
    top: 0;
    background-color: lightgray;
    padding: 10px 30px;

    .v-input__control {
      min-height: 36px !important;

      .v-input__slot {
        min-height: 36px;
      }
    }
  }

  .table-footer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    bottom: 0;
    position: fixed;
    height: 80px;
    background-color: lightgray;


    .table-pagination{
      display: flex;
      width: 80%;
      justify-content: space-around;
      align-items: center;
      margin: 0 auto;

      * {
        flex-grow: 1;
        text-align: center;
      }
    }

    .my-info{
      * {
        margin: 0 10px;
      }
    }
  }
}