.v-data-table {
  margin-top: 60px;
  height: calc(100vh - 40px);
  overflow: auto;

  @media screen and (max-width: 600px) {
    thead {
      display: none;
    }

    .v-data-table__mobile-row__cell {
      word-break: break-all;
      max-width: 200px;
      max-height: 150px;
    }
  }

  .table-header {
    display: flex;
    width: 100%;
    position: fixed;
    top: 0;
    gap:10px;
    padding: 10px 30px;
    border-bottom: 2px solid lightgray;

    .v-input__control {
      min-height: 36px !important;
      max-width: 400px;

      .v-input__slot {
        min-height: 36px;
      }
    }

    .table-controls {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      height: 40px;

      .table-pagination{
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 0 auto;

        gap: 10px;

        button {
          flex-grow: 1;
        }

        * {
          text-align: center;
        }
      }
    }
  }

}
/* override */

.v-application .v-main .v-data-table {
  box-shadow: none !important;
}
